<!DOCTYPE html>
<html>
    <head>
        <title>Yellowtent Login</title>

        <!-- bootstrap -->
        <link href="/3rdparty/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/3rdparty/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

        <link href="/css/index.css" rel="stylesheet" media="screen">
    </head>

    <body>

