<% include header %>

<script>

window.addEventListener("message", function (event) {
  console.log('---', event);
  alert('foo');
  alert(JSON.stringify(event));
}, false);

</script>

<form action="/api/v1/session/login" method="post">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">
            <h2 class="form-signin-heading pull-right">Please sing in</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input type="password" class="form-control has-error" placeholder="Password" name="password" required>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <input class="btn btn-green btn-block" type="submit" value="Sign in"/>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</form>

<% include footer %>
