[Service]
ExecStart=/usr/bin/node /usr/bin/yellowtent
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=yellowtent
User=yellowtent
Group=yellowtent
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target

