
body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../assets/background_00.jpg');
  color: black;
}

h1 {
  color: #6096D6;
}

.progress {
  margin-bottom: 0;
}

.modal {
  overflow: hidden;
}

.row {
  padding: 10px;
}

a {
  cursor: default;
  color: rgba(0, 0, 0, 0.5);
}

.list-group {
}

.list-group-item {
  padding: 0;
  margin-bottom: 10px;
  border: 0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.53);
}

.list-group-item-heading {
  background: rgba(255, 255, 255, 0.53);
}

.log-viewer {
  overflow: scroll;
  margin: 0;
  padding: 5px;
}

.user-list-item {
  padding: 10px;
  margin: 0;
}

.user-list-item.odd {
  background-color: #eee;
}

.user-list-item.even {
}

.error {
  color: red;
}

.nav-pills > li > a:hover {
  background-color: rgba(56, 129, 177, 0.36);
  color: white;
}

.nav-pills > li.active > a {
  background-color: rgba(56, 129, 177, 0.36);
}

li.active > a:hover, .nav-pills > li.active > a:focus {
  background-color: rgba(0, 0, 0, 0.48)
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: rgba(0, 0, 0, 0.48)
  transition-property: color, background-color;
  transition-duration: 0.5s;
}
