<h4>Hello <%= user.username %>,</h4>

<p>You can check out <i>anytime</i> you like, but you can <i>never</i> leave.</p>

<p>Before you login, create a password <a href="<%= setupLink %>" target="_blank">here</a>.</p>