<h4>Hello <%= user.username %>,</h4>

<p>You can check out <i>anytime</i> you like, but you can <i>never</i> leave.</p>

<p>Your credentials are:</p>
<br/>
Username: <b><%= user.username %></b><br/>
Password: <b><%= password %></b><br/>

<p>You can now <a href="<%= webadminUrl %>" target="_blank">login</a> and change your password.</p>