
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

    <h1>Install {{ app.title }}</h1>
    <form class="form-signin" role="form" ng-submit="installApp()" autocomplete="off">
        <div class="form-group">
            <label class="control-label" for="inputLocation">Location</label>
            <div class="input-group form-inline">
                <input type="text" class="form-control" ng-model="location" id="inputLocation" required autofocus>
                <div class="input-group-addon">.{{domain}}</div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputPassword">Password</label>
            <input type="password" class="form-control" ng-model="password" id="inputPassword" required>
        </div>
        <div ng-repeat="(port, portInfo) in portBindings">
            <div class="form-group">
                <label class="control-label" for="inputPortInfo{{portInfo.description}}">{{ portInfo.description }}</label>
                <input type="text" class="form-control" ng-model="portBindings[port].hostPort" id="inputPortInfo{{portInfo.description}}" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="restrictAccessTo">Access Restriction</label>
            <select class="form-control" id="restrictAccessTo" ng-model="restrictAccessTo">
                <option value="">Public</option>
                <option value="roleUser">Private</option>
                <option value="roleAdmin">Private (Admins only)</option>
            </select>
        </div>
        <input class="btn btn-default btn-outline" ng-click="cancel()" type="button" value="Cancel"/>
        <input class="btn btn-primary btn-outline pull-right" type="submit" ng-disabled="{{disabled}}" value="Install"/>
    </form>

    </div>
    <div class="col-md-3"></div>
</div>
