
<br/>

<div class="row">
    <div class="col-lg-12">
        <div class="jumbotron">
            <h1>Welcome</h1>
            <p>This is your cloudron's administration panel. It allows you to install and configure your apps. Some more catchy text a person like Donald could trumpet. This page could also contain an overview with graphs of like most actively used apps and traffic indicators.</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="#/appstore">Get Apps</a>
            </p>
        </div>
    </div>
</div>
