
<br/>

<div class="row">
    <div class="col-lg-12">
        <ul class="nav nav-tabs">
            <li ng-class="{ active: activeTab === 'day' }">
                <a ng-click="activeTab = 'day'" href="">24 hours</a>
            </li>

            <li ng-class="{ active: activeTab === 'month' }">
                <a ng-click="activeTab = 'month'" href="">Month</a>
            </li>

            <li ng-class="{ active: activeTab === 'year' }">
                <a ng-click="activeTab = 'year'" href="">Year</a>
            </li>
        </ul>

        <div class="tab-content">
            <div ng-switch="activeTab">
                <div ng-switch-when="day">
                    <h3> Disk </h3>
                    <img src="/render?target=sumSeries(collectd.*.df-*.df_complex-free)&target=sumSeries(collectd.*.df-*.df_complex-used)&from=-24hours"/>
                </div>

                <div ng-switch-when="month">
                    <h3> Disk </h3>
                    <img src="/render?target=sumSeries(collectd.*.df-*.df_complex-free)&target=sumSeries(collectd.*.df-*.df_complex-used)&from=-1month"/>
                </div>

                <div ng-switch-when="year">
                    <h3> Disk </h3>
                    <img src="/render?target=sumSeries(collectd.*.df-*.df_complex-free)&target=sumSeries(collectd.*.df-*.df_complex-used)&from=-1year"/>
                </div>
            </div>
        </div>
    </div>
</div>

