
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="list-group">
        <li href="#" class="list-group-item">
          <div class="row">
              <div class="col-sm-12"><h1>Account</h1></div>
          </div>
          <div class="row">
              <div class="col-sm-9">Username</div>
              <div class="col-sm-3" style="text-align: center;">{{user.username}}</div>
          </div>
          <div class="row">
              <div class="col-sm-9">Password</div>
              <div class="col-sm-3"><button class="btn btn-sm btn-block" ng-click="changePassword()">Change</button></div>
          </div>
        </li>
        <li href="#" class="list-group-item">
          <div class="row">
              <div class="col-sm-12"><h1>Server</h1></div>
          </div>
          <div class="row">
              <div class="col-sm-9">Set naked domain app</div>
              <div class="col-sm-3">
                   <form ng-submit="setNakedDomain()">
                      <input type="text" class="form-control" ng-model="nakedDomain" placeholder="App" autofocus>
                   </form>
              </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
