
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">

    <h1>Create User</h1>
    <form name="createuser_form" class="form-signin" role="form" novalidate ng-submit="submit()">
        <fieldset>
            <div class="form-group" ng-class="{ 'has-error': (createuser_form.username.$dirty && createuser_form.username.$invalid) || alreadyTaken }">
                <label class="control-label" for="inputUsername">Username</label>
                <div class="control-label" ng-show="(createuser_form.username.$dirty && createuser_form.username.$invalid) || alreadyTaken">
                    <small ng-show="createuser_form.username.$error.required">A username is required</small>
                    <small ng-show="createuser_form.username.$error.minlength">The username is too short</small>
                    <small ng-show="createuser_form.username.$error.maxlength">The username is too long</small>
                    <small ng-show="alreadyTaken && alreadyTaken === username">The username is already taken</small>
                </div>
                <input type="text" class="form-control" ng-model="username" id="inputUsername" name="username" ng-maxlength="512" ng-minlength="3" required autofocus>
            </div>
            <div class="form-group" ng-class="{ 'has-error': createuser_form.email.$dirty && createuser_form.email.$invalid }">
                <label class="control-label" for="inputEmail">Email</label>
                <div class="control-label" ng-show="createuser_form.email.$dirty && createuser_form.email.$invalid">
                    <small ng-show="createuser_form.email.$error.required">An email is required</small>
                    <small ng-show="createuser_form.email.$error.email">This is not a valid email</small>
                </div>
                <input type="email" class="form-control" ng-model="email" id="inputEmail" name="email" required>
            </div>
            <div class="form-group" ng-class="{ 'has-error': createuser_form.password.$dirty && createuser_form.password.$invalid }">
                <label class="control-label" for="inputPassword">Password</label>
                <div class="control-label" ng-show="createuser_form.password.$dirty && createuser_form.password.$invalid">
                    <small ng-show="createuser_form.password.$error.required">A password is required</small>
                    <small ng-show="createuser_form.password.$error.minlength">The password is too short</small>
                    <small ng-show="createuser_form.password.$error.maxlength">The password is too long</small>
                </div>
                <input type="password" class="form-control" ng-model="password" id="inputPassword" name="password" ng-maxlength="512" ng-minlength="3" required>
            </div>
            <div class="form-group" ng-class="{ 'has-error': (createuser_form.passwordRepeat.$dirty && createuser_form.passwordRepeat.$invalid) || (createuser_form.passwordRepeat.$dirty && password !== passwordRepeat) }">
                <label class="control-label" for="inputPasswordRepeat">Repeat Password</label>
                <div class="control-label" ng-show="(createuser_form.passwordRepeat.$dirty && createuser_form.passwordRepeat.$invalid) || (createuser_form.passwordRepeat.$dirty && password !== passwordRepeat)">
                    <small ng-show="createuser_form.passwordRepeat.$error.required">Please repeat your password</small>
                    <small ng-show="createuser_form.passwordRepeat.$error.minlength">The password is too short</small>
                    <small ng-show="createuser_form.passwordRepeat.$error.maxlength">The password is too long</small>
                    <small ng-show="createuser_form.passwordRepeat.$dirty && password !== passwordRepeat">The passwords don't match</small>
                </div>
                <input type="password" class="form-control" ng-model="passwordRepeat" id="inputPasswordRepeat" name="passwordRepeat" ng-maxlength="512" ng-minlength="3" required>
            </div>
            <input class="btn btn-default btn-outline" ng-click="cancel()" type="button" value="Cancel"/>
            <input class="btn btn-primary btn-outline pull-right" type="submit" ng-disabled="createuser_form.$invalid || alreadyTaken === username" value="Create User"/>
        </fieldset>
    </form>

    </div>
    <div class="col-md-3"></div>
</div>
