<div class="row">
    <div class="col-md-12 text-center">
        <h1>First thing, tell me your username.</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="form-group" ng-class="{ 'has-error': setup_form.username.$dirty && setup_form.username.$invalid }">
            <label class="control-label" for="inputUsername"></label>
            <input type="text" class="form-control" ng-model="wizard.username" id="inputUsername" name="username" ng-enter="ok('/step3', setup_form.username.$invalid)" ng-maxlength="512" ng-minlength="5" autofocus required>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-primary btn-outline pull-left" href="#/step1">Back</a>
        <a class="btn btn-primary btn-outline pull-right" href="#/step3" ng-disabled="setup_form.username.$invalid">Forward</a>
    </div>
</div>
