<div class="row">
    <div class="col-md-12 text-center">
        <h1>Create an Administrator for your Cloudron</h1>
    </div>
</div>
<br/>
<br/>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <div ng-show="wizard.requireEmail" class="form-group" ng-class="{ 'has-error': setup_form.email.$dirty && setup_form.email.$invalid }">
            <input type="email" class="form-control" ng-model="wizard.email" id="inputEmail" name="email" placeholder="Email" ng-enter="focusNext('inputDisplayName', setup_form.email.$invalid)" required autocomplete="off">
        </div>
        <div class="form-group" ng-class="{ 'has-error': setup_form.displayName.$dirty && setup_form.displayName.$invalid }">
            <input type="text" class="form-control" ng-model="wizard.displayName" id="inputDisplayName" name="displayName" placeholder="Display Name" ng-enter="focusNext('inputUsername', setup_form.displayName.$invalid)" required autofocus autocomplete="off">
        </div>
        <div class="form-group" ng-class="{ 'has-error': setup_form.username.$dirty && setup_form.username.$invalid }">
            <input type="text" class="form-control" ng-model="wizard.username" id="inputUsername" name="username" placeholder="Username" ng-enter="focusNext('inputPassword', setup_form.username.$invalid)" ng-maxlength="512" ng-minlength="3" required autocomplete="off">
        </div>
        <div class="form-group" ng-class="{ 'has-error': setup_form.password.$dirty && setup_form.password.$invalid }">
            <input type="password" class="form-control" ng-model="wizard.password" id="inputPassword" name="password" placeholder="Password" ng-enter="next(setup_form.username.$invalid || setup_form.password.$invalid || setup_form.email.$invalid)" ng-pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{8,30}$/" required autocomplete="off">
            <div class="control-label" ng-show="setup_form.password.$dirty && setup_form.password.$invalid">
                <small ng-show="setup_form.password.$dirty && setup_form.password.$invalid">Password must be 8-30 character with at least one uppercase, one numeric and one special character</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="wizard.createAppstoreAccount"> Create <a href="https://cloudron.io" target="_blank">Cloudron Store</a> account with same credentials
                </label>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" ng-click="next(setup_form.username.$invalid || setup_form.password.$invalid || setup_form.email.$invalid)" ng-disabled="setup_form.username.$invalid || setup_form.password.$invalid">Done</button>
    </div>
</div>
