<div class="row">
    <div class="col-md-12 text-center">
        <h1>Create an Administrator for <b>{{ wizard.name }}</b></h1>
        <h4 class="">
            This admin account is separate from your <a href="https://cloudron.io">cloudron.io</a> account.
        </h4>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
        <div class="form-group" ng-class="{ 'has-error': setup_form.username.$dirty && setup_form.username.$invalid }">
            <!-- <label class="control-label" for="inputUsername">Username</label> -->
            <input type="text" class="form-control" ng-model="wizard.username" id="inputUsername" name="username" placeholder="Username" ng-enter="focusNext('inputPassword', setup_form.username.$invalid)" ng-maxlength="512" ng-minlength="3" autofocus required autocomplete="off">
        </div>
        <div class="form-group" ng-class="{ 'has-error': setup_form.password.$dirty && setup_form.password.$invalid }">
            <!-- <label class="control-label" for="inputPassword">Password</label> -->
            <input type="password" class="form-control" ng-model="wizard.password" id="inputPassword" name="password" placeholder="Password" ng-enter="next('/step4', setup_form.password.$invalid)" ng-maxlength="512" ng-minlength="5" required autocomplete="off">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <a class="btn btn-primary" href="#/step4" ng-disabled="setup_form.username.$invalid">Done</a>
    </div>
</div>
