
<div class="container">

  <form class="form-signin" role="form" ng-submit="submit()">
    <h2 class="form-signin-heading">Change Password</h2>
    <div class="row">
        <div class="col-sm-12">
            <span ng-show="error.currentPassword" class="error show-animate">{{error.currentPassword}}</span>
            <input type="password" class="form-control" ng-model="currentPassword" placeholder="Current Password" required autofocus>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span ng-show="error.newPassword" class="error show-animate">{{error.newPassword}}</span>
            <input type="password" class="form-control" ng-model="newPassword" placeholder="New Password" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <span ng-show="error.repeatPassword" class="error show-animate">{{error.repeatPassword}}</span>
            <input type="password" class="form-control" ng-model="repeatPassword" placeholder="Repeat Password" required>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input class="btn btn-block" ng-click="cancel()" type="button" value="Cancel"/>
        </div>
        <div class="col-sm-6">
            <input class="btn btn-green btn-block" type="submit" ng-disabled="{{disabled}}" value="Change Password"/>
        </div>
    </div>
  </form>

</div>
