

<div ng-controller="VolumeListController" class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li href="#" class="list-group-item" ng-repeat="volume in volumes">
                    <div class="row">
                        <div class="col-xs-8">
                            <h1>{{volume.name}}</h1>
                        </div>
                        <div class="col-xs-4">
                            <progressbar class="progress-striped active" ng-show="volume.active" animate="false" value="100"><i>synchronizing...</i></progressbar>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            The volume is <span ng-hide="volume.isMounted">not</span> mounted.
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-sm btn-block pull-right" ng-click="mountVolume(volume)" ng-hide="volume.isMounted">Mount</span></button>
                            <button class="btn btn-sm btn-block pull-right" ng-click="unmountVolume(volume)" ng-show="volume.isMounted">Unmount</span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-9">
                            Remove access to this volume
                        </div>
                        <div class="col-xs-3">
                            <button class="btn btn-sm btn-block pull-right" ng-click="deleteVolume(volume)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            Users

                            <ul class="list-group">
                              <li href="#" class="list-group-item seamless" ng-repeat="user in volume.users">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-sm-10">{{user}}</div>
                                    <div class="col-sm-2">
                                      <button class="btn btn-sm btn-block pull-right" ng-click="deleteUser(user)"><span class="glyphicon glyphicon glyphicon-trash"></span></button>
                                  </div>
                                </div>
                              </li>
                              <li href="#" class="list-group-item">
                                <form class="form-signin" role="form" ng-submit="addUser(volume, passwordInput, usernameInput)">
                                <div class="container-fluid">
                                  <div class="row">
                                    <div class="col-sm-5"><input type="text" class="form-control form-sm" ng-model="usernameInput" placeholder="Username" required></div>
                                    <div class="col-sm-5"><input type="password" class="form-control form-sm" ng-model="passwordInput" placeholder="Your Password" required></div>
                                    <div class="col-sm-2">
                                      <button class="btn btn-sm btn-block pull-right" type="submit"><span class="glyphicon glyphicon glyphicon-plus-sign"></span></button>
                                  </div>
                                </div>
                              </form>
                              </li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
