
$brand-primary:                             darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:                             #5cb85c !default;
$brand-info:                                #5bc0de !default;
$brand-warning:                             #f0ad4e !default;
$brand-danger:                              #d9534f !default;

$body-bg:                                   #E5E5E5;
$font-family-sans-serif:                    Roboto, Helvetica, Arial, sans-serif;

$navbar-default-link-color:                 #428BCA !default;
$navbar-default-link-hover-color:           #337ab7 !default;
$navbar-default-link-active-color:          #337ab7 !default;
$navbar-default-brand-color:                #777 !default;

$btn-default-bg:                            transparent !default;
$btn-default-color:                         #aaa !default;
$btn-default-border:                        #aaa !default;

$btn-primary-bg:                            $btn-default-bg;
$btn-primary-color:                         $brand-primary !default;
$btn-primary-border:                        $brand-primary !default;

$btn-success-bg:                            $btn-default-bg;
$btn-success-color:                         $brand-success !default;
$btn-success-border:                        $brand-success !default;

$btn-info-bg:                               $btn-default-bg;
$btn-info-color:                            $brand-info !default;
$btn-info-border:                           $brand-info !default;

$btn-warning-bg:                            #333 !default;
$btn-warning-color:                         $brand-warning !default;
$btn-warning-border:                        $brand-warning !default;

$btn-danger-bg:                             $btn-default-bg;
$btn-danger-color:                          $brand-danger !default;
$btn-danger-border:                         $brand-danger !default;

$modal-content-border-color:                transparent !default;
$modal-header-border-color:                 white !default;
$border-radius-large:                       0 !default;

$table-border-color:                        transparent !default;

@import "bootstrap";

.shadow {
    box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.1);
}

.highlight {
    transition: background-color 500ms;
}

.highlight:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.grid-item {
    padding: 10px;
    min-width: 160px;
}

.grid-item-content {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.grid-item-top {
    padding: 10px 15px;
}

.grid-item-bottom {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background-color: white
}

.scale {
    transition: transform 100ms ease-out;
}

.scale:hover {
    transform: scale(2)
}

.page-wrapper {
    padding: 0px 30px;
}

.loading-banner {
    padding-top: 150px;
    text-align: center;
}

.badge-success {
    background-color: #5CB85C;
}

.card {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-large {
    max-width: 800px;
}

.app-update-badge {
    font-size: $font-size-h4;
    position: absolute;
    left: 2px;
    top: 2px;
    width: $font-size-h4 + 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}

.app-update-badge:hover {
    width: inherit;
    background-color: #5CB85C;
}

.text-success {
    color: #5CB85C;
}

.text-large {
    font-size: $font-size-h1;
}

.text-medium {
    font-size: $font-size-h4;
}

.text-small {
    font-size: $font-size-h6;
}

.newPort {
    border-left: 5px solid $brand-success;
    padding-left: 5px;
}

.obsoletePort {
    border-left: 5px solid $gray-light;
    padding-left: 5px;
}

.grid-item-top .progress {
    border-radius: 0;
    box-shadown: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -11px;
    margin-top: 9px;
    width: inherit;
    height: 2px;
}

.grid-item-top .progress-bar {
    border-radius: 0;
    box-shadown: none;
}

.app-icon {
    min-height: 64px;
    max-height: 64px;
    min-width: 64px;
    max-width: 100%;
}

// ----------------------------
// Animations
// ----------------------------

// ngAnimate will delay hiding the element if there is an animation attached
.fa-spin.ng-hide,
.fa-pulse.ng-hide {
    display: none !important;
}

.animateMe {
    opacity: 1;
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
}

.animateMe.ng-hide-add,
.animateMe.ng-hide-remove {
    display: block !important;
    transform: scale(0.9, 0.9);
    opacity: 0;
}

.animateMeOpacity {
    opacity: 1;
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
}

.animateMeOpacity.ng-hide-add,
.animateMeOpacity.ng-hide-remove {
    display: block !important;
    opacity: 0;
}

.animation-rise {
    animation-duration: 3s;
    animation-name: rise;
}

.animation-plop {
    transform: scale(0);
    animation-name: plop;
    animation-delay: 2s;
    animation-duration: 350ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-fade {
    opacity: 0;
    animation-name: fade;
    animation-delay: 4s;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-pulse {
    animation-duration: 1.5s;
    animation-name: pulse;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes rise {
    from {
        color: transparent;
    }

    to {
        color: white;
    }
}

@keyframes plop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.3
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.slick-item {
     height: 200px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto !important;
}

.has-error {
    color: $brand-danger;
}