
$brand-primary:                             #2196F3 !default; // #62bdfc
$brand-success:                             #27CE65 !default;
$brand-info:                                #5bc0de !default;
$brand-warning:                             #f0ad4e !default;
$brand-danger:                              #d9534f !default;

$body-bg:                                   #E5E5E5;
$font-family-sans-serif:                    Roboto, Helvetica, Arial, sans-serif;

$navbar-default-link-color:                 #428BCA !default;
$navbar-default-link-hover-color:           #62bdfc !default;
$navbar-default-link-active-color:          #62bdfc !default;
$navbar-default-brand-color:                #777 !default;

$btn-default-bg:                            transparent !default;
$btn-default-color:                         #aaa !default;
$btn-default-border:                        #aaa !default;

//$btn-primary-bg:                            $btn-default-bg;
//$btn-primary-color:                         $brand-primary !default;
$btn-primary-border:                        $brand-primary !default;

//$btn-success-bg:                            $btn-default-bg;
//$btn-success-color:                         $brand-success !default;
$btn-success-border:                        $brand-success !default;

$btn-info-bg:                               $btn-default-bg;
$btn-info-color:                            $brand-info !default;
$btn-info-border:                           $brand-info !default;

$btn-warning-bg:                            #333 !default;
$btn-warning-color:                         $brand-warning !default;
$btn-warning-border:                        $brand-warning !default;

$btn-danger-bg:                             $btn-default-bg;
$btn-danger-color:                          $brand-danger !default;
$btn-danger-border:                         $brand-danger !default;

$modal-content-border-color:                transparent !default;
$modal-header-border-color:                 white !default;
$border-radius-large:                       2px !default;
$border-radius-base:                        2px !default;

$table-border-color:                        transparent !default;

@import "bootstrap";

// ----------------------------
// Bootstrap extension
// ----------------------------

.row-same-height {
    height: 100%;
    display: table;
    width: 100%;
}

.col-same-height {
    height: 100%;
    vertical-align: middle;
    display: table-cell;
    float: none !important;
}

.row-no-margin {
    margin: 0;
}

.row-no-margin:before,
.row-no-margin:after {
    content: " ";
    display: table;
}

.row-no-margin:after {
    clear: both;
}

// ----------------------------
// Main classes
// ----------------------------

html {
    height: 100%;
    width: 100%;
    padding: 0;
}

.shadow {
    box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.1);
}

.highlight {
}

.highlight:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.content {
    max-width: 800px;
    margin: 0 auto;
}

.navbar-brand-icon {
    padding: 5px 15px;
}

.navbar-nav > li > a {
    @media(min-width:768px) {
        padding: 13px 15px;
    }
}

// ----------------------------
// Apps view
// ----------------------------

.grid-item {
    padding: 10px;
    min-width: 200px;
}

.grid-item-content {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
}

.grid-item-top {
    padding: 10px 15px;
}

.grid-item-bottom {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background-color: white
}

// ----------------------------
// Appstore view
// ----------------------------

.appstore-item {
    padding: 10px;
    width: 300px;
}

.appstore-item-content {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.appstore-item-badge-testing {
    position: absolute;
    right: 15px;
    top: 15px;
}

.appstore-item-content-testing {
    background-color: #E6E6E6;
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 64px 64px;
}

.appstore-item-content-title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.appstore-item-content-tagline {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 44px;   // show two lines
}

.appstore-item-content-icon {
    width: 100px;
    min-width: 100px;
    max-width: 100px;
    padding-left: 10px;
    padding-right: 10px;
}

.appstore-item-content-description {
    width: 160px;
    min-width: 160px;
    max-width: 160px;
}

.appstore-category-link {
    padding: 10px;
    margin: 0;
    color: black;
    color: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 18px;
}

.appstore-category-missing {
    padding: 10px;
    background-color: white;

    p {
        font-weight: bold;
    }

    textarea {
        display: block;
        width: 100%;
        height: 50px;
        margin-bottom: 10px;
        transition: all 250ms ease-out;

        &:focus {
            height: 200px;
        }
    }

    button {
        width: 100%;
    }
}

.appstore-install-description {
    max-height: 250px;
    overflow-x: none;
    overflow-y: auto;
}

.modal-footer {
    padding-top: 0;
}

.appstore-install-title {
    display: inline-block;
    margin: 5px 10px;
}

.appstore-install-meta {
    margin-left: 10px;
    color: $text-muted;
}

.appstore-category-link:hover,
.appstore-category-link:focus,
.appstore-category-link.category-active {
    text-decoration: none;
    background-color: $navbar-default-link-hover-color;
    color: white;
}

.appstore-item-rating {
    color: $navbar-default-link-hover-color;
}

.appstore-search {
    width: 200px;
}

.scale {
    transition: transform 100ms ease-out;
}

.scale:hover {
    transform: scale(2)
}

.page-wrapper {
    padding: 0px 30px;
}

.loading-banner {
    padding-top: 150px;
    text-align: center;
}

.badge-success {
    background-color: #5CB85C;
}

.badge-danger {
    background-color: $brand-danger;
}

.progress {
    margin-bottom: 0;
}

.card {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-large {
    max-width: 800px;
}

.app-update-badge {
    font-size: $font-size-h4;
    position: absolute;
    left: 2px;
    top: 2px;
    width: $font-size-h4 + 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    background-color: transparent;
}

.app-update-badge:hover {
    width: inherit;
    background-color: #5CB85C;
}

.text-success {
    color: #5CB85C;
}

.text-bold {
    font-weight: bold;
}

.text-large {
    font-size: $font-size-h1;
}

.text-medium {
    font-size: $font-size-h4;
}

.text-small {
    font-size: $font-size-h6;
}

.newPort {
    border-left: 5px solid $brand-success;
    padding-left: 5px;
}

.obsoletePort {
    border-left: 5px solid $gray-light;
    padding-left: 5px;
}

.grid-item-top .progress {
    border-radius: 0;
    box-shadown: none;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -11px;
    margin-top: 9px;
    width: inherit;
    height: 2px;
}

.grid-item-top .progress-bar {
    border-radius: 0;
    box-shadown: none;
}

.app-icon {
    min-height: 80px;
    max-height: 80px;
    min-width: 80px;
    max-width: 100%;
}

.appstore-install .app-icon {
    float: left;
}

// ----------------------------
// Animations
// ----------------------------

// ngAnimate will delay hiding the element if there is an animation attached
.fa-spin.ng-hide,
.fa-pulse.ng-hide {
    display: none !important;
}

.animateMe {
    opacity: 1;
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
}

.animateMe.ng-hide-add,
.animateMe.ng-hide-remove {
    display: block !important;
    transform: scale(0.9, 0.9);
    opacity: 0;
}

.animateMeOpacity {
    opacity: 1;
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
}

.animateMeOpacity.ng-hide-add,
.animateMeOpacity.ng-hide-remove {
    display: block !important;
    opacity: 0;
}

.animation-rise {
    animation-duration: 3s;
    animation-name: rise;
}

.animation-plop {
    transform: scale(0);
    animation-name: plop;
    animation-delay: 2s;
    animation-duration: 350ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-fade {
    opacity: 0;
    animation-name: fade;
    animation-delay: 4s;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.animation-pulse {
    animation-duration: 1.5s;
    animation-name: pulse;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}

@keyframes rise {
    from {
        color: transparent;
    }

    to {
        color: white;
    }
}

@keyframes plop {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.3
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(0.8);
        opacity: 0.5;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.slick-item {
     height: 200px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    height: auto !important;
}

.has-error,
.text-danger {
    color: $brand-danger;
}

footer {
    background-color: #EFEFEF;
    bottom: 0;
    width: 100%;
    color: #555;
    font-size: 14px;
    padding: 5px;
    z-index: 10000;
    opacity: 0.5;
    transition: all 250ms;
}

@media(min-width:767px) {
    footer {
        position: fixed;
    }
}

footer:hover {
    opacity: 1;
}

footer a {
    color: #62bdfc;
    padding: 10px;
}


// ----------------------------
// Upgrade
// ----------------------------

.region-select-map {
    width: 600px;
    height: 300px;
    display: table;
    margin: auto;
    cursor: pointer;
}

.region-selected {
    opacity: 1 !important;
}

.region-select {
    display: inline-block;
    float: left;
    opacity: 0.5;
    height: 300px;
    transition: all 250ms;
}

.region-select:hover {
    opacity: 1;
}

.region-pin {
    display: block;
    position: relative;
    top: 0;
    opacity: 0;
    transition: all 250ms cubic-bezier(0.430, 0.950, 0.810, 1.280);
}

.region-pin-left {
    left: 27px;
}

.region-pin-right {
    left: -95px;
}

.region-pin-selected-left {
    top: 95px;
    opacity: 1;
}

.region-pin-selected-right {
    top: 73px;
    opacity: 1;
}

.cloudron-model-list {
    display: table;
    width: 100%;
}

.cloudron-model-item {
    display: table-cell;
    padding: 10px;
    margin: auto;
    vertical-align: bottom;
}

.cloudron-model-item-content {
    display: table-cell;
    width: 200px;
    transition: all 250ms;
    transform: scale(0.95);
    cursor: pointer;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(177, 177, 177);
    color: white;
    vertical-align: bottom;
}

.cloudron-model-item-content:hover {
    transform: scale(1);
}

.cloudron-model-item-content:hover h4,
.cloudron-model-item-content:hover h5  {
    color: white;
    transition: all 250ms;
}

// ----------------------------
// Setup classes
// ----------------------------

.setup {
    height: 100%;
    width: 100%;
    padding: 0;
    background: #F7F7F7;
}

.setup .main-container {
    height: 100%;
    width: 100%;
    display: table;
}

.setup .main-container>.row {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}


// ----------------------------
// Graphs classes
// ----------------------------

$graphs-primary:        #2196F3;
$graphs-warning:        #f0ad4e;
$graphs-success:        #27CE65;

$graphs-primary-alt:    lighten(#2196F3, 20%);
$graphs-warning-alt:    lighten(#f0ad4e, 20%);
$graphs-success-alt:    lighten(#27CE65, 20%);

.graphs {
    text-align: center;

    .text-primary {
        font-weight: bold;
        color: $graphs-primary;
    }

    .text-warning {
        font-weight: bold;
        color: $graphs-warning;
    }

    .text-success {
        font-weight: bold;
        color: $graphs-success;
    }

    .memory-chart-label {
        font-weight: bold;
    }

    .memory-app-container {
        background-color: white;
        padding: 20px;

        h2 {
            padding: 0;
            margin: 0;
        }
    }

    .active {
        font-weight: bold;
    }
}


// ----------------------------
// Error and status page classes
// ----------------------------
.status-page {
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;

    .wrapper {
        display: table;
        width: 100%;
        height: 100%;
    }

    .content {
        display: table-cell;
        width: 100%;
        height: 100%;
        text-align: center;
        vertical-align: middle;
    }

    footer {
        bottom: 0;
        width: 100%;
    }
}


// ----------------------------
// Settings
// ----------------------------

.settings-avatar {
    cursor: pointer;
    width: 128px;
    height: 128px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .overlay {
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255 ,0.3);
        background-image: url('/img/plus.png');
        background-repeat: no-repeat;
        background-position: center;
        transition: all 150ms;
        opacity: 0;

        &:hover {
            opacity: 1;
        }
    }
}

.settings-avatar-selector {
    text-align: center;

    .grid {
        margin-top: 20px;
    }

    .item {
        display: inline-block;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 64px;
        height: 64px;
        margin: 5px;
        cursor: pointer;
        opacity: 0.6;
        transform: scale(1.0);
        transition: all 150ms;

        &:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        &.add {
            background-color: $brand-primary;
            background-image: url('/img/plus.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
        }
    }
}

// ----------------------------
// Support
// ----------------------------

.support {

    h3 {
        margin-top: 0;
        margin-bottom: 20px;
    }
}