@import "bootstrap";

.animateMe {
    opacity: 1;
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
}

.animateMe.ng-hide-add,
.animateMe.ng-hide-remove {
    display: block !important;
    transform: scale(0.9, 0.9);
    opacity: 0;
}

.animateMeOpacity {
    opacity: 1;
    -webkit-transition: 0.25s ease all;
    transition: 0.25s ease all;
}

.animateMeOpacity.ng-hide-add,
.animateMeOpacity.ng-hide-remove {
    display: block !important;
    opacity: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
}

.shadow {
    box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.highlight:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.grid-item {
    padding: 15px;
    min-width: 128px;
}

.grid-item-content {
    background-color: white;
    box-shadow:         0px 2px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow:    0px 2px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.grid-item-top {
    padding: 10px 15px;
}

.grid-item-bottom {
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background-color: white
}

.page-wrapper {
    padding: 0px 30px;
}

.navbar-default .navbar-nav>li>a {
    color: #428BCA;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #337ab7;
}

.btn.btn-outline:hover {
    color: #FFF;
}

.btn.btn-outline {
    color: #245580;
}

.btn-success.btn-outline {
    color: #5CB85C;
}

.btn-danger.btn-outline {
    color: #b92c28;
}

.btn.btn-outline {
    background-color: transparent;
    background-image: none;
}

.loading-banner {
    padding-top: 150px;
    text-align: center;
}

.badge-success {
    background-color: #5CB85C;
}