[Unit]
Description=Docker Volumes Janitor
OnFailure=crashnotifier@%n.service

[Service]
Type=simple
Restart=no
ExecStart=/usr/sbin/docker_janitor
KillMode=process
User=root
Group=root
MemoryLimit=50M
WatchdogSec=180

