[Unit]
Description=Cloudron Janitor
StopWhenUnneeded=true

[Timer]
# this activates it immediately
OnBootSec=0
OnUnitActiveSec=30min
Unit=janitor.service

