
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Account</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Account
            </div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">Username <span class="pull-right">{{user.username}}</span></li>
                    <li class="list-group-item">Email <span class="pull-right">{{user.email}}</span></li>
                </ul>
                <button class="btn btn-outline btn-danger pull-right" ng-click="changePassword()">Change Password</button>
            </div>
        </div>
    </div>
</div>
