
<br/>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Activity Log</h1>
    </div>
</div>

<br/>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="card card-block" style="max-width: 100%">
            <table class="table table-striped table-condensed table-hover">
              <thead>
                <tr>
                  <th class="col-md-1">Time</th>
                  <th class="col-md-1">Action</th>
                  <th class="col-md-1">Source</th>
                  <th class="col-md-5">Details</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="eventLog in eventLogs">
                  <td>{{ eventLog.creationTime | prettyDate }}</td>
                  <th scope="row">{{ eventLog.action }}</td>
                  <td>{{ eventLog.source.username }} ({{ eventLog.source.ip }})</td>
                  <td>{{ eventLog.details }}</td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
</div>
