<div class="row animateMeOpacity ng-hide loading-banner" ng-show="!ready">
    <div class="col-lg-12">
        <h2><i class="fa fa-spinner fa-pulse"></i> Loading</h2>
    </div>
</div>

<!-- Modal install app -->
<div class="modal fade" id="appInstallModal" tabindex="-1" role="dialog" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="appInstallModalLabel">Install {{ appinstall.app.manifest.title }}</h4>
            </div>
            <div class="modal-body">
                <form class="form-signin" role="form" name="install_form" ng-submit="doInstall(install_form)" autocomplete="off">
                    <div class="form-group" ng-class="{ 'has-error': install_form.location.$dirty && install_form.location.$invalid }">
                        <label class="control-label" for="inputLocation">Location</label>
                        <div class="input-group form-inline">
                            <input type="text" class="form-control" ng-model="appinstall.location" id="inputLocation" name="location" required autofocus>
                            <div class="input-group-addon">.{{ config.fqdn }}</div>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': (!install_form.password.$dirty && error.password) || (install_form.password.$dirty && install_form.password.$invalid) }">
                        <label class="control-label" for="inputPassword">Password</label>
                        <input type="password" class="form-control" ng-model="appinstall.password" id="inputPassword" name="password" ng-maxlength="512" ng-minlength="5" required>
                    </div>
                    <div ng-repeat="(port, portInfo) in appinstall.portBindings">
                        <ng-form name="portInfo_form">
                            <div class="form-group" ng-class="{ 'has-error': portInfo_form.itemName{{$index}}.$dirty && portInfo_form.itemName{{$index}}.$invalid }">
                                <label class="control-label" for="inputPortInfo{{port}}">{{ portInfo.description }} ({{ hostPortMin }} - {{ hostPortMax }})</label>
                                <input type="number" class="form-control" ng-model="appinstall.portBindings[port].hostPort" id="inputPortInfo{{port}}" later-name="itemName{{$index}}" min="{{hostPortMin}}" max="{{hostPortMax}}" required>
                            </div>
                        </ng-form>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="accessRestriction">Access Restriction</label>
                        <select class="form-control" id="accessRestriction" ng-model="appinstall.accessRestriction">
                            <option value="">Public</option>
                            <option value="roleUser">Private</option>
                            <option value="roleAdmin">Private (Admins only)</option>
                        </select>
                    </div>
                    <input class="ng-hide" type="submit" ng-disabled="install_form.$invalid || busy"/>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="doInstall(install_form)" ng-disabled="install_form.$invalid || busy">Install</button>
            </div>
        </div>
    </div>
</div>

<div class="row animateMeOpacity ng-hide" ng-show="ready">
    <div class="col-lg-12">
        <h1>Available Applications</h1>
    </div>
</div>

<div class="row animateMeOpacity ng-hide" ng-show="ready">
    <div class="col-sm-1 grid-item" ng-repeat="app in apps">
        <div class="highlight grid-item-content">
            <div class="grid-item-top">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img ng-src="{{app.iconUrl}}" onerror="this.onerror=null;this.src='img/appicon_fallback.png'" width="48" height="48"/>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <div style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{{ app.title }}</div>
                        <div class="text-muted" style="text-overflow: ellipsis; white-space: nowrap; overflow: hidden">{{ app.contactEmail }}</div>
                    </div>
                </div>
            </div>
            <a href="" ng-click="showInstall(app)">
                <div class="grid-item-bottom">
                    <span class="pull-left">Install</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
