<div class="row">
    <div class="col-lg-12">
        <br/>
    </div>
</div>

<div class="row animateMeOpacity ng-hide" ng-show="loadStatus == LOADING">
    <div class="col-lg-12" style="text-align: center;">
        <h2>Loading</h2>
        <i class="fa fa-circle-o-notch fa-spin fa-5x"></i>
    </div>
</div>

<div class="row animateMeOpacity ng-hide" ng-show="loadStatus == ERROR">
    <div class="col-lg-12" style="text-align: center;">
        <h2>Error reaching the Store</h2>
    </div>
</div>

<div class="row animateMeOpacity ng-hide" ng-show="loadStatus == LOADED && !apps.length">
    <div class="col-lg-12" style="text-align: center;">
        <h2>No Apps available</h2>
    </div>
</div>

<div class="row animateMeOpacity ng-hide" ng-show="loadStatus == LOADED">
    <div class="col-md-1" ng-repeat="app in apps" style="padding: 15px">
        <div style="background-color: white;" class="shadow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <img ng-show="app.icon" width="48" height="48" ng-src="{{app.icon}}"/>
                        <span ng-show="!app.icon" class="fa fa-space-shuttle fa-4x"></span>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <div class="col-xs-12 text-left">
                        <div>{{ app.title }}</div>
                        <div class="text-muted">{{ app.contactEmail }}</div>
                    </div>
                </div>
            </div>
            <a href="" ng-click="installApp(app)">
                <div class="panel-footer">
                    <span class="pull-left">Install</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>