<div class="row">
    <div class="col-lg-12">
        <h1>DNS Management</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-6 grid-item">
        <div class="grid-item-content">
            <div class="grid-item-top">
                <big>Certificate</big>
            </div>
            <div class="grid-item-bottom text-right">
                <ul class="list-group">
                     <li class="list-group-item">
                        <input type="file" id="idCertificate" style="display:none"/>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="getElementById('idCertificate').click();">Certificate</button>
                            </span>
                            <input type="text" class="form-control" ng-model="certificateFileName" onclick="getElementById('idCertificate').click();" style="cursor: pointer;"/>
                            <span class="input-group-addon">
                                <i class="fa fa-upload" onclick="getElementById('idCertificate').click();"></i>
                            </span>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <input type="file" id="idKey" style="display:none"/>

                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" onclick="getElementById('idKey').click();">Key</button>
                            </span>
                            <input type="text" class="form-control" ng-model="keyFileName" onclick="getElementById('idKey').click();" style="cursor: pointer;"/>
                            <span class="input-group-addon">
                                <i class="fa fa-upload" onclick="getElementById('idKey').click();"></i>
                            </span>
                        </div>
                    </li>
                </ul>
                <button class="btn btn-outline btn-success" ng-click="setCertificate()">Upload Certificate</button>
            </div>
        </div>
    </div>
</div>
