
<br/>

<div class="row">
    <div class="col-md-12">
        <h1>Graphs</h1>
    </div>
</div>

<br/>

<div class="graphs">

    <div class="row shadow memory-app-container">
        <h2>Disk Usage</h2>
        <br/>
        <div class="col-md-offset-4 col-md-4">
            <h4>Data <span class="badge">{{ diskUsage['box'].sum }} GB</span></h4>
            <canvas id="boxDiskUsageChart" width="200" height="200"></canvas>
            <p>
                <span class="text-success">Free {{ diskUsage['box'].free }} GB</span>
                &nbsp;
                <span class="text-primary">Used {{ diskUsage['box'].used }} GB</span>
            </p>
        </div>
    </div>

    <br/>
    <br/>

    <div class="row shadow memory-app-container">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Memory</h2>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <h4>Apps</h4>
                    <canvas id="memoryUsageAppsChart" width="200" height="200"></canvas>
                    <p>
                        <span ng-repeat="data in memoryUsageApps">
                            <span style="color: {{data.color}};" class="memory-chart-label">{{ data.label }} {{ data.value }} MB</span>
                            &nbsp;
                        </span>
                    </p>
                </div>
                <div class="col-md-4">
                    <h4>System</h4>
                    <canvas id="memoryUsageSystemChart" width="200" height="200"></canvas>
                    <p>
                        <span ng-repeat="data in memoryUsageSystem">
                            <span style="color: {{data.color}};" class="memory-chart-label">{{ data.label }} {{ data.value }} MB</span>
                            &nbsp;
                        </span>
                    </p>
                </div>
            </div>

            <br/>

            <div class="row">
                <div class="col-md-12">
                        <h4 ng-show="activeApp === 'system'">System</h4>
                        <h4 ng-show="activeApp !== 'system'">{{ activeApp.location }}</h4>
                    </ul>
                </div>
                <br/>
                <canvas id="memoryAppChart" width="800" height="300"></canvas>
                <p>Memory consumption over time in MB.</p>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
