<div class="row animateMeOpacity ng-hide loading-banner" ng-show="!ready">
    <div class="col-lg-12">
        <h2><i class="fa fa-spinner fa-pulse"></i> Loading</h2>
    </div>
</div>

<div class="row animateMeOpacity ng-hide" ng-show="ready">
    <div class="col-lg-12">
        <h1>Account Permissions for Apps and Websites</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" ng-repeat="client in activeClients">
                <div class="panel-heading">
                    <h4 class="panel-title" data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{client.id}}" style="cursor: pointer;">
                        {{client.name}} <span class="pull-right">{{client.location}}</span>
                    </h4>
                </div>
                <div id="collapse{{client.id}}" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>Details</h4>
                        <p>Permissions: <b>{{ client.scope }}</b></p>
                        <p>Provided Tokens: <b>{{ client.tokenCount }}</b></p>
                        <button class="btn btn-xs btn-danger" ng-click="removeAccessTokens(client, $event)" ng-disabled="!client.tokenCount"><i ng-hide="!client._busy" class="fa fa-circle-o-notch fa-spin"></i> Remove access tokens</button>
                        <br/>
                        <br/>
                        <h4>Credentials</h4>
                        <p>Client ID: <b>{{ client.id }}</b></p>
                        <p>Client Secret: <b>{{ client.clientSecret }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
