<!-- Modal developer mode -->
<div class="modal fade" id="developerModeChangeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" ng-hide="config.developerMode">Enable Developer Mode</h4>
                <h4 class="modal-title" ng-show="config.developerMode">Disable Developer Mode</h4>
            </div>
            <div class="modal-body">
                <form name="developerModeChangeForm" class="form-signin" role="form" novalidate ng-submit="doChangeDeveloperMode(developerModeChangeForm)" autocomplete="off">
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error': (developerModeChangeForm.password.$dirty && developerModeChangeForm.password.$invalid)}">
                            <label class="control-label" for="inputDeveloperModeChangePassword">Give your password to verify that you are performing that action</label>
                            <div class="control-label" ng-show="(!developerModeChangeForm.password.$dirty && developerModeChange.error.password) || (developerModeChangeForm.password.$dirty && developerModeChangeForm.password.$invalid)">
                                <small ng-show="developerModeChangeForm.password.$error.required">A password is required</small>
                                <small ng-show="developerModeChangeForm.password.$error.minlength">The password is too short</small>
                                <small ng-show="developerModeChangeForm.password.$error.maxlength">The password is too long</small>
                                <small ng-show="developerModeChangeForm.password.$dirty && developerModeChange.error.password">Invalid pasword</small>
                            </div>
                            <input type="password" class="form-control" ng-model="developerModeChange.password" id="inputDeveloperModeChangePassword" name="password" ng-maxlength="512" ng-minlength="5" required autofocus>
                        </div>
                        <input class="ng-hide" type="submit" ng-disabled="developerModeChangeForm.$invalid"/>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-hide="config.developerMode" ng-click="doChangeDeveloperMode(developerModeChangeForm)" ng-disabled="developerModeChangeForm.$invalid || developerModeChange.busy"><i class="fa fa-spinner fa-pulse" ng-show="developerModeChange.busy"></i> Enable</button>
                <button type="button" class="btn btn-success" ng-show="config.developerMode" ng-click="doChangeDeveloperMode(developerModeChangeForm)" ng-disabled="developerModeChangeForm.$invalid || developerModeChange.busy"><i class="fa fa-spinner fa-pulse" ng-show="developerModeChange.busy"></i> Disable</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal backup -->
<div class="modal fade" id="createBackupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a new Backup</h4>
            </div>
            <div class="modal-body">
                Do you really want to create a new backup?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="doCreateBackup()" ng-disabled="createBackup.busy"><i class="fa fa-spinner fa-pulse" ng-show="developerModeChange.busy"></i> Confirm</button>
            </div>
        </div>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>Backups</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Last Backup</span>
        </div>
        <div class="col-xs-6 text-right">
            <span ng-show="lastBackup">{{ lastBackup.creationTime | prettyDate }}</span>
            <span ng-hide="lastBackup">No backups have been created yet</span>
        </div>
    </div>
    <!-- If a backup is blocked (not triggered), the UI does not give feedback currently. This button is only available in dev at the moment! -->
    <div class="row" ng-show="config.isDev">
        <br/>
        <div class="col-xs-9">
            <div ng-show="createBackup.busy" class="progress progress-striped active animateMe">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ createBackup.percent }}%">Backup in progress</div>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <button class="btn btn-outline btn-xs btn-primary" ng-click="showCreateBackup()" ng-disabled="createBackup.busy">Create Backup</button>
        </div>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>About</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Model</span>
        </div>
        <div class="col-xs-6 text-right">
            <span>{{ config.size }} - {{ config.region }}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Version</span>
        </div>
        <div class="col-xs-6 text-right">
            <span>{{ config.version }}</span>
        </div>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>Developer Mode</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-12">
            The developer mode will enable additional functionality for developers. This mode allows for example the Cloudron commandline tool to control parts of the Cloudron, like installing and debugging applications.
            <br/>
            <br/>
            If you are interested in application development, please visit the <a href="{{ config.webServerOrigin }}/documentation.html" target="_blank">application developer documentation</a>.
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-6">
            Status
        </div>
        <div class="col-xs-6 text-right">
            <a href="" class="text-danger" ng-show="config.developerMode" ng-click="showChangeDeveloperMode()">Enabled</a>
            <a href="" ng-hide="config.developerMode" ng-click="showChangeDeveloperMode()">Disabled</a>
        </div>
    </div>
</div>
