<!-- Modal developer mode -->
<div class="modal fade" id="developerModeChangeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" ng-hide="config.developerMode">Enable Developer Mode</h4>
                <h4 class="modal-title" ng-show="config.developerMode">Disable Developer Mode</h4>
            </div>
            <div class="modal-body">
                <form name="developerModeChangeForm" class="form-signin" role="form" novalidate ng-submit="doChangeDeveloperMode(developerModeChangeForm)" autocomplete="off">
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error': (developerModeChangeForm.password.$dirty && developerModeChangeForm.password.$invalid)}">
                            <label class="control-label" for="inputDeveloperModeChangePassword">Give your password to verify that you are performing that action</label>
                            <div class="control-label" ng-show="(!developerModeChangeForm.password.$dirty && developerModeChange.error.password) || (developerModeChangeForm.password.$dirty && developerModeChangeForm.password.$invalid)">
                                <small ng-show="developerModeChangeForm.password.$error.required">A password is required</small>
                                <small ng-show="developerModeChangeForm.password.$error.minlength">The password is too short</small>
                                <small ng-show="developerModeChangeForm.password.$error.maxlength">The password is too long</small>
                                <small ng-show="developerModeChangeForm.password.$dirty && developerModeChange.error.password">Invalid pasword</small>
                            </div>
                            <input type="password" class="form-control" ng-model="developerModeChange.password" id="inputDeveloperModeChangePassword" name="password" ng-maxlength="512" ng-minlength="5" required autofocus>
                        </div>
                        <input class="ng-hide" type="submit" ng-disabled="developerModeChangeForm.$invalid"/>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" ng-hide="config.developerMode" ng-click="doChangeDeveloperMode(developerModeChangeForm)" ng-disabled="developerModeChangeForm.$invalid || developerModeChange.busy"><i class="fa fa-spinner fa-pulse" ng-show="developerModeChange.busy"></i> Enable</button>
                <button type="button" class="btn btn-success" ng-show="config.developerMode" ng-click="doChangeDeveloperMode(developerModeChangeForm)" ng-disabled="developerModeChangeForm.$invalid || developerModeChange.busy"><i class="fa fa-spinner fa-pulse" ng-show="developerModeChange.busy"></i> Disable</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal change avatar -->
<div class="modal fade" id="avatarChangeModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Change your Cloudron Avatar</h4>
            </div>
            <div class="modal-body settings-avatar-selector">
                <img id="previewAvatar" width="128" height="128" ng-src="{{avatarChange.avatar.data || avatarChange.avatar.url || avatar.data || avatar.url}}"/>
                <input type="file" id="avatarFileInput" style="display: none" accept="image/png"/>

                <br/>
                <br/>

                <div class="grid">
                    <div class="item" ng-repeat="avatar in avatarChange.availableAvatars" style="background-image: url('{{avatar.data || avatar.url}}');" ng-click="setPreviewAvatar(avatar)"></div>
                    <div class="item add" ng-click="showCustomAvatarSelector()"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="doChangeAvatar()" ng-disabled="avatarChange.busy"><i class="fa fa-spinner fa-pulse" ng-show="avatarChange.busy"></i> Change</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal backup -->
<div class="modal fade" id="createBackupModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create a new Backup</h4>
            </div>
            <div class="modal-body">
                Do you really want to create a new backup?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="doCreateBackup()" ng-disabled="createBackup.busy"><i class="fa fa-spinner fa-pulse" ng-show="developerModeChange.busy"></i> Confirm</button>
            </div>
        </div>
    </div>
</div>

<br/>

<div style="max-width: 600px; margin: 0 auto;">
    <div class="text-left">
        <h1>Settings</h1>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>About</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-4" style="min-width: 150px;">
            <div class="settings-avatar" ng-click="showChangeAvatar()" style="background-image: url('{{avatar.data || avatar.url}}');">
                <div class="overlay"></div>
            </div>
        </div>
        <div class="col-xs-8">
            <table width="100%">
                <tr>
                    <td class="text-muted" style="vertical-align: top;">Model</td>
                    <td class="text-right" style="vertical-align: top; white-space: nowrap;">{{ config.size }} - {{ config.region }}</td>
                </tr>
                <tr>
                    <td class="text-muted" style="vertical-align: top;">Version</td>
                    <td class="text-right" style="vertical-align: top; white-space: nowrap;">{{ config.version }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>Backups</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Last Backup</span>
        </div>
        <div class="col-xs-6 text-right">
            <span ng-show="lastBackup">{{ lastBackup.creationTime | prettyDate }}</span>
            <span ng-hide="lastBackup">No backups have been created yet</span>
        </div>
    </div>
    <!-- If a backup is blocked (not triggered), the UI does not give feedback currently. This button is only available in dev at the moment! -->
    <div class="row" ng-show="config.isDev">
        <br/>
        <div class="col-xs-9">
            <div ng-show="createBackup.busy" class="progress progress-striped active animateMe">
                <div class="progress-bar progress-bar-success" role="progressbar" style="width: {{ createBackup.percent }}%">Backup in progress</div>
            </div>
        </div>
        <div class="col-xs-3 text-right">
            <button class="btn btn-outline btn-xs btn-primary" ng-click="showCreateBackup()" ng-disabled="createBackup.busy">Create Backup</button>
        </div>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin && config.isCustomDomain">
    <div class="text-left">
        <h3>SSL Certificates</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin && config.isCustomDomain">
    <div class="row">
        <div class="col-md-12">
            <form name="defaultCertForm" ng-submit="setDefaultCert()">
                <fieldset>
                    <label class="control-label" for="defaultCertInput">Fallback Certificate</label>
                    <p>This certificate has to be wildcard certificates and will be used for all apps, which were not configured to use a specific certificate.</p>
                    <div class="has-error text-center" ng-show="defaultCert.error">{{ defaultCert.error }}</div>
                    <div class="text-success text-center" ng-show="defaultCert.success"><b>Upload successful</b></div>
                    <div class="form-group" ng-class="{ 'has-error': (!defaultCert.cert.$dirty && defaultCert.error) }">
                        <div class="input-group">
                            <input type="file" id="defaultCertFileInput" style="display:none"/>
                            <input type="text" class="form-control" placeholder="Certificate" ng-model="defaultCert.certificateFileName" id="defaultCertInput" name="cert" onclick="getElementById('defaultCertFileInput').click();" style="cursor: pointer;" ng-disabled="defaultCert.busy" required>
                            <span class="input-group-addon">
                                <i class="fa fa-upload" onclick="getElementById('defaultCertFileInput').click();"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': (!defaultCert.key.$dirty && defaultCert.error) }">
                        <div class="input-group">
                            <input type="file" id="defaultKeyFileInput" style="display:none"/>
                            <input type="text" class="form-control" placeholder="Key" ng-model="defaultCert.keyFileName" id="defaultKeyInput" name="key" onclick="getElementById('defaultKeyFileInput').click();" style="cursor: pointer;" ng-disabled="defaultCert.busy" required>
                            <span class="input-group-addon">
                                <i class="fa fa-upload" onclick="getElementById('defaultKeyFileInput').click();"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline btn-success pull-right" ng-disabled="defaultCertForm.$invalid || busy"><i class="fa fa-spinner fa-pulse" ng-show="defaultCert.busy"></i> Upload</button>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form name="adminCertForm" ng-submit="setAdminCert()">
                <fieldset>
                    <label class="control-label" for="adminCertInput">Settings Certificate</label>
                    <p>This certificate will be used for this Settings application.</p>
                    <div class="has-error text-center" ng-show="adminCert.error">{{ adminCert.error }}</div>
                    <div class="text-success text-center" ng-show="adminCert.success"><b>Upload successful</b></div>
                    <div class="form-group" ng-class="{ 'has-error': (!adminCert.cert.$dirty && adminCert.error) }">
                        <div class="input-group">
                            <input type="file" id="adminCertFileInput" style="display:none"/>
                            <input type="text" class="form-control" placeholder="Certificate" ng-model="adminCert.certificateFileName" id="adminCertInput" name="cert" onclick="getElementById('adminCertFileInput').click();" style="cursor: pointer;" ng-disabled="adminCert.busy" required>
                            <span class="input-group-addon">
                                <i class="fa fa-upload" onclick="getElementById('adminCertFileInput').click();"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error': (!adminCert.key.$dirty && adminCert.error) }">
                        <div class="input-group">
                            <input type="file" id="adminKeyFileInput" style="display:none"/>
                            <input type="text" class="form-control" placeholder="Key" ng-model="adminCert.keyFileName" id="adminKeyInput" name="key" onclick="getElementById('adminKeyFileInput').click();" style="cursor: pointer;" ng-disabled="adminCert.busy" required>
                            <span class="input-group-addon">
                                <i class="fa fa-upload" onclick="getElementById('adminKeyFileInput').click();"></i>
                            </span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-outline btn-success pull-right" ng-disabled="adminCertForm.$invalid || busy"><i class="fa fa-spinner fa-pulse" ng-show="adminCert.busy"></i> Upload</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin && config.isCustomDomain">
    <div class="text-left">
        <h3>DNS Credentials</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin && config.isCustomDomain">
    <div class="row">
        <div class="col-md-12">
            <p>Currently only Amazon <a href="https://aws.amazon.com/route53/">Route53</a> is supported. Let us know if you require a different DNS provider <a href="#/support">here</a>.</p>

            <table width="100%">
                <tr>
                    <td class="text-muted" style="vertical-align: top;">Access Key Id</td>
                    <td class="text-right" style="vertical-align: top; white-space: nowrap;">{{ dnsConfig.accessKeyId }}</td>
                </tr>
                <tr>
                    <td class="text-muted" style="vertical-align: top;">Secret Access Key</td>
                    <td class="text-right" style="vertical-align: top; white-space: nowrap;"><i>hidden</i></td>
                </tr>
                <tr>
                    <td class="text-muted" style="vertical-align: top;"></td>
                    <td class="text-right" style="vertical-align: top;"><span class="text-success" ng-show="dnsCredentials.success"><b>Done</b></span> &nbsp; &nbsp; <button class="btn btn-outline btn-xs btn-primary" ng-show="!dnsCredentials.formVisible" ng-click="showDnsCredentialsForm()">Change</button></td>
                </tr>
            </table>

            <div class="collapse" id="collapseDnsCredentialsForm" data-toggle="false">
                <p>The security credentials have to be valid for full Route53 access.</p>
                <form name="dnsCredentialsForm" ng-submit="setDnsCredentials()">
                    <fieldset>
                        <div class="has-error text-center" ng-show="dnsCredentials.error">{{ dnsCredentials.error }}</div>

                        <div class="form-group" ng-class="{ 'has-error': false }">
                            <label class="control-label" for="dnsCredentialsAccessKeyId">Access Key Id</label>
                            <input type="text" class="form-control" ng-model="dnsCredentials.accessKeyId" id="dnsCredentialsAccessKeyId" name="accessKeyId" ng-disabled="dnsCredentials.busy" ng-minlength="16" ng-maxlength="32" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': false }">
                            <label class="control-label" for="dnsCredentialsSecretAccessKey">Secret Access Key</label>
                            <input type="text" class="form-control" ng-model="dnsCredentials.secretAccessKey" id="dnsCredentialsSecretAccessKey" name="secretAccessKey" ng-disabled="dnsCredentials.busy" required>
                        </div>

                        <button type="submit" class="btn btn-outline btn-success pull-right" ng-disabled="dnsCredentialsForm.$invalid || busy"><i class="fa fa-spinner fa-pulse" ng-show="dnsCredentials.busy"></i> Save</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
 </div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>Developer Mode</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-12">
            The developer mode will enable additional functionality for developers. This mode allows for example the Cloudron commandline tool to control parts of the Cloudron, like installing and debugging applications.
            <br/>
            <br/>
            If you are interested in application development, please visit the <a href="{{ config.webServerOrigin }}/documentation.html" target="_blank">application developer documentation</a>.
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-xs-6">
            Status
        </div>
        <div class="col-xs-6 text-right">
            <a href="" class="text-danger" ng-show="config.developerMode" ng-click="showChangeDeveloperMode()">Enabled</a>
            <a href="" ng-hide="config.developerMode" ng-click="showChangeDeveloperMode()">Disabled</a>
        </div>
    </div>
</div>
