<div class="content support">
    <br/>

    <div>
        <div class="text-left">
            <h1>Support</h1>
        </div>
    </div>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    <h3>Docs</h3>

                    If you have any questions, please read our <a href="{{ config.webServerOrigin }}/faq.html" target="_blank">Frequently Asked Questions</a>.
                    <br/>
                    <br/>
                    For user manuals and developer related questions, please refer to our <a href="{{ config.webServerOrigin }}/documentation.html" target="_blank"> documentation</a>.
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    <h3>Chat</h3>
                    Chat with us live at <a href="https://chat.cloudron.io/" target="_blank">chat.cloudron.io</a>.
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    <h3>Feedback</h3>
                    We would love to hear your feedback. Help us improve our product by reporting any bugs or feature requests.
                    <br/>
                    <br/>
                    <form name="feedbackForm" ng-submit="submitFeedback()">
                        <div class="form-group">
                            <select class="form-control" name="type" style="width: 50%;" ng-model="feedback.type" required>
                                <option value="feedback">Enhancement / Idea</option>
                                <option value="ticket">Bug Report</option>
                                <option value="app_missing">Missing App</option>
                                <option value="app_error">App Error/Failing</option>
                            </select>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (feedbackForm.subject.$dirty && feedbackForm.subject.$invalid) }">
                            <input type="text" class="form-control" name="subject" placeholder="Enter your idea or issue" ng-model="feedback.subject" ng-maxlength="512" ng-minlength="1" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (feedbackForm.description.$dirty && feedbackForm.description.$invalid) }">
                            <textarea class="form-control" name="description" rows="3" placeholder="Describe your idea or issue" ng-model="feedback.description" ng-minlength="1" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid || feedback.busy"><i class="fa fa-spinner fa-pulse" ng-show="feedback.busy"></i> Submit</button>
                        <span ng-show="feedback.error" class="text-danger text-bold">{{feedback.error}}</span>
                        <span ng-show="feedback.success" class="text-success text-bold">Thank You!</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Offset the footer -->
<br/><br/>
