<div class="content">
    <div>
        <div class="text-left">
            <h1>Support</h1>
        </div>
    </div>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    If you have any questions, please revise our <a href="">Frequently Asked Questions</a>. We add more answers as we go, if you couldn't find your answers, just let us know using the forms below.<br/>
                    <br/>
                    For any developer related issues, please see our <a href="">Developer documentation</a>.
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    <h3>Feedback</h3>
                    We would love to hear any ideas, feature requests and overall feedback from your side.
                    <br/>
                    <br/>
                    <form ng-submit="submitFeedback()">
                        <div class="form-group">
                            <!-- <label for="feedbackSubject">Feedback</label> -->
                            <input type="text" class="form-control" id="feedbackSubject" ng-model="feedback.subject" placeholder="Enter your idea">
                        </div>
                        <div class="form-group">
                            <!-- <label for="feedbackDescription">Your Idea</label> -->
                            <textarea class="form-control" id="feedbackDescription" rows="3" ng-model="feedback.description" placeholder="Describe your idea"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    <h3>Ticket</h3>
                    If you found any issue or bugs, let us know, we will resolve that for you as soon as possible.
                    <br/>
                    <br/>
                    <form ng-submit="submitTicket()">
                        <div class="form-group">
                            <!-- <label for="feedbackSubject">Feedback</label> -->
                            <input type="text" class="form-control" id="feedbackSubject" ng-model="ticket.subject" placeholder="Enter your issue">
                        </div>
                        <div class="form-group">
                            <!-- <label for="feedbackDescription">Your Idea</label> -->
                            <textarea class="form-control" id="feedbackDescription" rows="3" ng-model="ticket.description" placeholder="Describe your issue"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>