<div class="content support">
    <div>
        <div class="text-left">
            <h1>Support</h1>
        </div>
    </div>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    If you have any questions, please revise our <a href="">Frequently Asked Questions</a>. We add more answers as we go, if you couldn't find your answers, just let us know using the forms below.<br/>
                    <br/>
                    For any developer related issues, please see our <a href="">Developer documentation</a>.
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    <h3>Feedback</h3>
                    We would love to hear any ideas, feature requests and overall feedback from your side.
                    <br/>
                    <br/>
                    <form name="feedbackForm" ng-submit="submitFeedback()">
                        <div class="form-group" ng-class="{ 'has-error': (feedbackForm.subject.$dirty && feedbackForm.subject.$invalid) }">
                            <input type="text" class="form-control" name="subject" placeholder="Enter your idea" ng-model="feedback.subject" ng-maxlength="512" ng-minlength="1" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (feedbackForm.description.$dirty && feedbackForm.description.$invalid) }">
                            <textarea class="form-control" name="description" rows="3" placeholder="Describe your idea" ng-model="feedback.description" ng-minlength="1" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid || feedback.busy"><i class="fa fa-spinner fa-pulse" ng-show="feedback.busy"></i> Submit</button>
                        <span ng-show="feedback.error" class="text-danger text-bold">{{feedback.error}}</span>
                        <span ng-show="feedback.success" class="text-success text-bold">Thank You!</span>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <div class="card card-large">
        <div class="grid-item-top">
            <div class="row animateMeOpacity">
                <div class="col-lg-12">
                    <h3>Ticket</h3>
                    If you found any issue or bugs, let us know, we will resolve that for you as soon as possible.
                    <br/>
                    <br/>
                    <form name="ticketForm" ng-submit="submitTicket()">
                        <div class="form-group" ng-class="{ 'has-error': (ticketForm.subject.$dirty && ticketForm.subject.$invalid) }">
                            <input type="text" class="form-control" name="subject" placeholder="Enter your issue" ng-model="ticket.subject" ng-maxlength="512" ng-minlength="1" required>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error': (ticketForm.description.$dirty && ticketForm.description.$invalid) }">
                            <textarea class="form-control" name="description" rows="3" placeholder="Describe your issue" ng-model="ticket.description" ng-minlength="1" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-disabled="ticketForm.$invalid || ticket.busy"><i class="fa fa-spinner fa-pulse" ng-show="ticket.busy"></i> Submit</button>
                        <span ng-show="ticket.error" class="text-danger text-bold">{{ticket.error}}</span>
                        <span ng-show="ticket.success" class="text-success text-bold">Thank You!</span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<br/>
<br/>
<br/>
