
<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>Upgrade</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-6">
            <h4>Current</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Size:</span>
        </div>
        <div class="col-xs-6 text-right">
            <span>...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Region:</span>
        </div>
        <div class="col-xs-6 text-right">
            <span>...</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Zone:</span>
        </div>
        <div class="col-xs-6 text-right">
            <span>...</span>
        </div>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-6">

        </div>
        <div class="col-xs-3 text-right">
            <select class="form-control" id="sizeSlug" ng-model="appMigrate.sizeSlug">
                <option value="{{size.slug}}" ng-repeat="size in availableSizes">{{size.name}}</option>
            </select>
        </div>
        <div class="col-xs-3 text-right">
            <button class="btn btn-outline btn-primary" ng-click="showMigrateConfirm()">Migrate</button>
        </div>
    </div>
</div>
