<!-- Modal migrate -->
<div class="modal fade" id="migrationModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Migrate your Cloudron</h4>
            </div>
            <div class="modal-body">
                Do you really want to migrate your Cloudron?<br/>
                Your Cloudron will have a downtime of around 10 minutes, where none of you apps will be reachable.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-success" ng-click="doMigration()" ng-disabled="migration.busy"><i class="fa fa-spinner fa-pulse" ng-show="migration.busy"></i> Migrate</button>
            </div>
        </div>
    </div>
</div>

<div style="max-width: 600px; margin: 0 auto;" ng-show="user.admin">
    <div class="text-left">
        <h3>Upgrade</h3>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-6">
            <h4>Current</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Size:</span>
        </div>
        <div class="col-xs-6 text-right">
            <span>{{config.size}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <span class="text-muted">Region:</span>
        </div>
        <div class="col-xs-6 text-right">
            <span>{{config.region}}</span>
        </div>
    </div>
</div>

<div class="card" style="margin-bottom: 15px;" ng-show="user.admin">
    <div class="row">
        <div class="col-xs-6">
            <select class="form-control" id="restoreKey" ng-model="migration.restoreKey">
                <option value="{{backup.restoreKey}}" ng-repeat="backup in availableBackups">{{backup.creationTime | prettyDate}}</option>
            </select>
        </div>
        <div class="col-xs-3 text-right">
            <select class="form-control" id="sizeSlug" ng-model="migration.sizeSlug">
                <option value="{{size.slug}}" ng-repeat="size in availableSizes">{{size.name}}</option>
            </select>
        </div>
        <div class="col-xs-3 text-right">
            <button class="btn btn-outline btn-primary" ng-click="showMigrationConfirm()">Migrate</button>
        </div>
    </div>
</div>
