<% include header %>

<br/>

<div class="container">
    <form action="/api/v1/session/login" method="post">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="alert alert-danger">
                    Invalid OAuth Client
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </form>
</div>

<% include footer %>
