
    <!-- angularjs scripts -->
    <script src="/3rdparty/js/angular.js"></script>
    <script src="/3rdparty/js/angular-loader.min.js"></script>
    <script src="/3rdparty/js/angular-route.min.js"></script>
    <script src="/3rdparty/js/angular-animate.min.js"></script>
    <script src="/3rdparty/js/angular-base64.min.js"></script>
    <script src="/3rdparty/js/autofill-event.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <script src="/3rdparty/sb-admin-2/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/3rdparty/sb-admin-2/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/3rdparty/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/3rdparty/sb-admin-2/js/sb-admin-2.js"></script>

    <!-- yellowtent -->
    <script src="/api/v1/oauth/yellowtent.js"></script>

    </body>
</html>
