<% include header %>

<div class="container">
    <form action="/api/v1/session/login" method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
            <h1>Welcome to your Cloudron</h1>
                <input type="hidden" name="_csrf" value="<%= csrf %>"/>
                <div class="form-group">
                    <label class="control-label" for="inputUsername">Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="username" autofocus required>
                </div>
                <div class="form-group">
                    <label class="control-label" for="inputPassword">Password</label>
                    <input type="password" class="form-control" name="password" id="inputPassword" required>
                </div>
                <input class="btn btn-primary btn-outline pull-right" type="submit" value="Sign in"/>
            </div>
            <div class="col-md-3"></div>
        </div>
    </form>
</div>

<% include footer %>
