<% include header %>

<!-- tester -->

<center>
    <h1>Password reset successful</h1>
</center>

<br/>

<div class="container">
    <div class="row">
        <center class="col-md-6 col-md-offset-3">
            <p>An email was sent to you with a link to set a new password.</p>
            <br/>
            <br/>
            If you have not received any email, simply <a href="/api/v1/session/password/resetRequest.html">try again</a>.
        </center>
    </div>
</div>

<% include footer %>
