<% include header %>

<center>
    <h1>Reset your password successful</h1>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <p>An email was sent to you with a link to create a new password.</p>
            If you have not received any email after some time, maybe you have misspelled your email address, simply try again <a href="/api/v1/session/password/resetRequest.html">here</a>.
        </div>
    </div>
</div>

<% include footer %>
