<% include header %>

<!-- tester !>

<center>
    <h1>Reset your password</h1>
</center>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="/api/v1/session/password/resetRequest" method="post" autocomplete="off">
                <input type="hidden" name="_csrf" value="<%= csrf %>"/>
                <div class="form-group">
                    <label class="control-label" for="inputIdentifier">Username or Email</label>
                    <input type="text" class="form-control" id="inputIdentifier" name="identifier" autofocus required>
                </div>
                <input class="btn btn-primary btn-outline pull-right" type="submit" value="Reset"/>
            </form>
            <a href="/api/v1/session/login">Login</a>
        </div>
    </div>
</div>

<% include footer %>
