<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <title> YellowTent </title>

    <!-- Bootstrap Core CSS -->
    <link href="3rdparty/sb-admin-2/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="3rdparty/sb-admin-2/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="3rdparty/sb-admin-2/css/plugins/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="3rdparty/sb-admin-2/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="3rdparty/sb-admin-2/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="3rdparty/sb-admin-2/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">


    <style>

    .animateMe {
        opacity: 1;
        transform: scale(1, 1);
        -webkit-transition: 0.25s linear all;
        transition: 0.25s linear all;
    }

    .animateMe.ng-hide-add,
    .animateMe.ng-hide-remove {
        display: block !important;
        transform: scale(0.9, 0.9);
        opacity: 0;
    }

    </style>

  </head>

<body ng-app="YellowTent" ng-controller="MainController">

    <div id="wrapper" class="animateMe ng-hide" ng-show="initialized">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Yellowtent</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> {{userInfo.username}} <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#/settings"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#" ng-click="logout()"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a ng-class="{ active: isActive('/myapps')}" href="#/myapp"><i class="fa fa-cloud-download fa-fw"></i> My Apps ({{installedApps.length}}) <span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li ng-show="!installedApps.length">
                                    <a><em>No Apps installed</em></a>
                                </li>
                                <li ng-repeat="app in installedApps">
                                    <a href="#/app/{{ app.id }}/details">{{ app.manifest.name }} <span class="pull-right text-muted small"><em>{{ app.installationState }}</em></span></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-class="{ active: isActive('/applist')}" href="#/applist"><i class="fa fa-cloud fa-fw"></i> App Store</a>
                        </li>
                        <li>
                            <a ng-class="{ active: isActive('/settings')}" href="#/settings"><i class="fa fa-wrench fa-fw"></i> Settings</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <div id="page-wrapper">
            <div ng-view id="ng-view"></div>
        </div>
    </div>

    <!-- angularjs scripts -->
    <script src="3rdparty/js/angular.js"></script>
    <script src="3rdparty/js/angular-loader.min.js"></script>
    <script src="3rdparty/js/angular-route.min.js"></script>
    <script src="3rdparty/js/angular-animate.min.js"></script>
    <script src="3rdparty/js/angular-base64.min.js"></script>
    <script src="3rdparty/js/autofill-event.js"></script>

    <!-- jQuery Version 1.11.0 -->
    <script src="3rdparty/sb-admin-2/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="3rdparty/sb-admin-2/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="3rdparty/sb-admin-2/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="3rdparty/sb-admin-2/js/sb-admin-2.js"></script>

    <!-- yellowtent -->
    <script src="/api/v1/oauth/yellowtent.js"></script>

    <!-- angular bootstrap -->
    <script src="3rdparty/js/ui-bootstrap-tpls-0.10.0.js"></script>

    <!-- spinner -->
    <script src="3rdparty/js/spin.min.js"></script>

    <!-- actute comboboxes -->
    <script src="3rdparty/js/acute.select.js"></script>
    <link href="3rdparty/css/acute.select.css" rel="stylesheet" media="screen"/>

    <!-- yellowtent -->
    <script src="/api/v1/oauth/yellowtent.js"></script>

    <!-- application routes -->
    <script src="js/index.js"></script>

    <!-- services and factories -->
    <script src="js/client.js"></script>
    <script src="js/spinner.js"></script>
    <script src="js/appstore.js"></script>

    <!-- views -->
    <script src="js/main.js"></script>
    <script src="views/splash.js"></script>
    <script src="views/volumelist.js"></script>
    <script src="views/volumecreate.js"></script>
    <script src="views/volumedelete.js"></script>
    <script src="views/volumeremoveuser.js"></script>
    <script src="views/volumemount.js"></script>
    <script src="views/volumeunmount.js"></script>
    <script src="views/userlist.js"></script>
    <script src="views/usercreate.js"></script>
    <script src="views/userdelete.js"></script>
    <script src="views/userpassword.js"></script>
    <script src="views/applist.js"></script>
    <script src="views/appdetails.js"></script>
    <script src="views/myapps.js"></script>
    <script src="views/appconfigure.js"></script>
    <script src="views/settings.js"></script>

</body>
</html>
