<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <title> YellowTent </title>

    <!-- angularjs scripts -->
    <script src="3rdparty/js/angular.js"></script>
    <script src="3rdparty/js/angular-loader.min.js"></script>
    <script src="3rdparty/js/angular-route.min.js"></script>
    <script src="3rdparty/js/angular-animate.min.js"></script>
    <script src="3rdparty/js/angular-base64.min.js"></script>
    <script src="3rdparty/js/autofill-event.js"></script>

    <!-- bootstrap -->
    <script src="3rdparty/js/ui-bootstrap-tpls-0.10.0.js"></script>
    <link href="3rdparty/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="3rdparty/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- spinner -->
    <script src="3rdparty/js/spin.min.js"></script>

    <!-- actute comboboxes -->
    <script src="3rdparty/js/acute.select.js"></script>
    <link href="3rdparty/css/acute.select.css" rel="stylesheet" media="screen"/>

    <!-- yellowtent -->
    <script src="/api/v1/oauth/yellowtent.js"></script>

    <!-- application routes -->
    <script src="js/index.js"></script>

    <!-- services and factories -->
    <script src="js/client.js"></script>
    <script src="js/spinner.js"></script>
    <script src="js/appstore.js"></script>

    <!-- views -->
    <script src="js/main.js"></script>
    <script src="views/splash.js"></script>
    <script src="views/login.js"></script>
    <script src="views/volumelist.js"></script>
    <script src="views/volumecreate.js"></script>
    <script src="views/volumedelete.js"></script>
    <script src="views/volumeremoveuser.js"></script>
    <script src="views/volumemount.js"></script>
    <script src="views/volumeunmount.js"></script>
    <script src="views/userlist.js"></script>
    <script src="views/usercreate.js"></script>
    <script src="views/userdelete.js"></script>
    <script src="views/userpassword.js"></script>
    <script src="views/applist.js"></script>
    <script src="views/myapps.js"></script>
    <script src="views/appconfigure.js"></script>
    <script src="views/settings.js"></script>

    <!-- application stylesheets -->
    <link href="css/index.css" rel="stylesheet" media="screen">

  </head>

<body ng-app="YellowTent" ng-controller="MainController">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <ul class="nav nav-pills nav-stacked" ng-show="showSideBar">
        <li ng-class="{ active: isActive('/volume')}">
          <a href="#/volumelist">
            <span class="glyphicon glyphicon glyphicon-hdd"></span> Volumes <div ng-show="isActive('/volume')" ng-click="href($event, '#/volumecreate')" class="glyphicon glyphicon-plus pull-right toolicon"></div>
          </a>
        </li>
        <li ng-class="{ active: isActive('/user')}">
          <a href="#/userlist">
            <span class="glyphicon glyphicon-user"></span> Users <div ng-show="isActive('/user')" ng-click="href($event, '#/usercreate')" class="glyphicon glyphicon-plus pull-right toolicon"></div>
          </a>
        </li>
        <li ng-class="{ active: isActive('/myapps')}">
          <a href="#/myapps"><span class="glyphicon glyphicon-cloud"></span> My Apps </a>
        </li>
        <li ng-class="{ active: isActive('/applist')}">
          <a href="#/applist"><span class="glyphicon glyphicon-cloud"></span> App Store </a>
        </li>
        <li ng-class="{ active: isActive('/settings')}"><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
    <div class="col-sm-8 col-md-8">
      <div ng-view id="ng-view"></div>
    </div>
    <div class="col-sm-1 col-md-2">
      <!-- placeholder -->
    </div>
  </div>
</div>

</body>
</html>
