<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height" />

    <title> YellowTent </title>

    <!-- angularjs scripts -->
    <script src="3rdparty/js/angular.js"></script>
    <script src="3rdparty/js/angular-loader.min.js"></script>
    <script src="3rdparty/js/angular-route.min.js"></script>
    <script src="3rdparty/js/angular-animate.min.js"></script>
    <script src="3rdparty/js/angular-base64.min.js"></script>
    <script src="3rdparty/js/autofill-event.js"></script>

    <!-- bootstrap -->
    <script src="3rdparty/js/ui-bootstrap-tpls-0.10.0.js"></script>
    <link href="3rdparty/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="3rdparty/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">

    <!-- spinner -->
    <script src="3rdparty/js/spin.min.js"></script>


    <!-- application scripts -->
    <script src="js/services/client.js"></script>
    <script src="js/factories/spinner.js"></script>

    <script src="js/controller/main.js"></script>
    <script src="js/controller/splash.js"></script>
    <script src="js/controller/login.js"></script>
    <script src="js/controller/volumelist.js"></script>
    <script src="js/controller/volumecreate.js"></script>
    <script src="js/controller/volumedelete.js"></script>
    <script src="js/controller/volumeremoveuser.js"></script>
    <script src="js/controller/volumemount.js"></script>
    <script src="js/controller/volumeunmount.js"></script>
    <script src="js/controller/userlist.js"></script>
    <script src="js/controller/logs.js"></script>
    <script src="js/controller/usercreate.js"></script>
    <script src="js/controller/userdelete.js"></script>
    <script src="js/controller/userpassword.js"></script>
    <script src="js/controller/settings.js"></script>
    <script src="js/index.js"></script>

    <!-- application stylesheets -->
    <link href="css/index.css" rel="stylesheet" media="screen">

  </head>

<body ng-app="YellowTent" ng-controller="MainController">

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <ul class="nav nav-pills nav-stacked" ng-show="showSideBar">
        <li ng-class="{ active: isActive('/volume')}">
          <a href="#/volumelist">
            <span class="glyphicon glyphicon glyphicon-hdd"></span> Volumes <div ng-show="isActive('/volume')" ng-click="href($event, '#/volumecreate')" class="glyphicon glyphicon-plus pull-right toolicon"></div>
          </a>
        </li>
        <li ng-class="{ active: isActive('/user')}">
          <a href="#/userlist">
            <span class="glyphicon glyphicon-user"></span> Users <div ng-show="isActive('/user')" ng-click="href($event, '#/usercreate')" class="glyphicon glyphicon-plus pull-right toolicon"></div>
          </a>
        </li>
        <li ng-class="{ active: isActive('/settings')}"><a href="#/settings"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
        <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
      </ul>
    </div>
    <div class="col-sm-8 col-md-8">
      <div ng-view id="ng-view"></div>
    </div>
    <div class="col-sm-1 col-md-2">
      <!-- placeholder -->
    </div>
  </div>
</div>

</body>
</html>
