LoadPlugin "table"
<Plugin table>
  <Table "/sys/fs/cgroup/memory/docker/<%= containerId %>/memory.stat">
    Instance "<%= appId %>-memory"
    Separator " \\n"
    <Result>
      Type gauge
      InstancesFrom 0
      ValuesFrom 1
    </Result>
  </Table>
</Plugin>

<Plugin table>
  <Table "/sys/fs/cgroup/cpuacct/docker/<%= containerId %>/cpuacct.stat">
    Instance "<%= appId %>-cpu"
    Separator " \\n"
    <Result>
      Type gauge
      InstancesFrom 0
      ValuesFrom 1
    </Result>
  </Table>
</Plugin>

