!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

# http://bugs.mysql.com/bug.php?id=68514
[mysqld]
performance_schema=OFF
max_connections=50
# on ec2, without this we get a sporadic connection drop when doing the initial migration
max_allowed_packet=32M

